
body {
    background-color: cornflowerblue;
    font-family: 'Guttman Hatzvi';
}table{
     text-align:right;
     direction:rtl;
         
 }
input {
    text-align: right;
    direction: rtl;
}







